# IDE based files and folders #
.buildpath
.project
.settings
.idea

# Files and folders that should not be pushed to the repo #
/etc/config.json
.vagrant/*

# Apple Files #
.DS_Store

# COMPOSER Files #
vendor/*
composer.phar

# Node / Grunt Contribs #
/node_modules

# Bower Components #
/bower_components/
/www/media/css/temp.css

# Build/Test related files #
cache.properties
build/api/*
build/logs/*
current_SHA
/sha.txt
/.php_cs.cache
/.phpunit.result.cache
.php-cs-fixer.cache

# Ignore uploads #
www/uploads/*

# Only track security.txt from .well-known directory
/www/.well-known/*
!/www/.well-known/security.txt

