/** Overrides to primary template **/

blockquote p {
    font-size: 0.9em;
    color: #888;
}

code {
    padding: 0 3px;
    white-space: inherit;
}

pre {
    word-break: inherit;
    word-wrap: inherit;
}

pre code {
    white-space: inherit;
}

.table-condensed th,
.table-condensed td {
    padding: 4px;
}

.breadcrumb > li {
    padding: 2px 0;
}

/** Custom JTracker CSS **/

.helpText {
    float: none;
    margin-left: 0;
    padding-right: 14px
}

label.error {
    color: #E9322D;
}

input.error, input:focus.error,
textarea.error, textarea:focus.error {
    border-color: #E9322D;
    box-shadow: 0 0 6px #F8B9B7;
}

img.avatar {
    border: 1px solid #EEEEEE;
    padding: 2px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.activity-avatar {
    padding-left: 0;
}

.row-activity {
    border: 1px solid #EEEEEE;
    margin-top: 15px;
    padding: 7px 7px 0 7px;
    border-radius: 3px;
}

.row-activity .well, .row-activity img {
    margin-bottom: 10px
}

.row-activity .well {
    padding: 10px
}

img.emoji, .row-activity .well img {
    margin-bottom: 0
}

.input-small-100 {
    width: 100px;
}

.input-small-120 {
    width: 120px;
}

.input-medium-140 {
    width: 140px;
}

.input-medium-160 {
    width: 160px;
}

.input-medium-180 {
    width: 180px;
}

.input-large-240 {
    width: 240px;
}

.row-activity:target {
    border: 2px dashed #999;
    padding: 100px 5px 5px;
}

.row-activity:target {
    transition: all 0.5s ease;
}

.issue-description {
    overflow: auto
}

hr.issue-votes {
    margin: 10px 0
}

form.scores-report {
    margin-bottom: 0
}

.input-issue-title {
    width: 90%;
    font-size: 1.2em !important
}

.issue-add-details {
    margin-left: 0 !important
}

.issue-add-right-block {
    margin-left: 15px
}

.input-priority {
    width: 50px
}

td.issueInfo:hover {
    background-color: #eee;
    cursor: help;
}

td.hasContext {
    padding: 8px
}

td.valign-center {
    vertical-align: middle
}

.list-issue-title {
    font-size: 1.1em
}

.list-issue-details {
    font-size: 0.85em
}

#stools-container .btn-group {
    margin: 5px 5px 0 0;
}

#stools-container {
    padding-top: 5px;
}

.activity-comment {
    border: 1px solid silver;
    margin: 0 0 20px;
    border-radius: 3px;
}

/* Adjust target within the page because of fixed navbar and affix */
:target:before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
}

ul.test-results {
    float: left
}

/* language select */
li.lang-select {
    margin: 2px 5px 2px 0;
}

li.lang-select a {
    color: inherit;
    text-decoration: none;
}

li.lang-select .caret {
    margin-top: 6px;
}

li.lang-select #lang-switcher {
    padding: 10px 0;
    cursor: pointer;
}

li.lang-select input,
li.lang-select input:focus {
    color: #fff;
}

li.lang-select .ui.search.dropdown>.text {
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
li.lang-select .ui.active.search.dropdown>input.search:focus+.text {
    color: #ccc !important;
}

.ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
    position: relative;
    padding-left: 2em!important;
    padding-right: 1em!important;
}

.ui.labeled.icon.button>.lang-icon {
    position: absolute;
    text-align: center;
    line-height: 1;
    left: 0;
}

.ui.search.dropdown>input.search{
    line-height: inherit;
    width: 100px;
}

.ui.dropdown .menu {
    padding: 5px 0;
}

.ui.dropdown .menu>.item {
    padding: 5px 20px!important;
    font-size: 13px;
    line-height: 1;
}

.ui.dropdown .menu>.item:hover {
    background-color: #0081c2;
    color: #FFFFFF;
}

/* end language select */

/* Force Bootstrap Select to have the same width as normal selects on desktop; can't use the input-medium class due to load order */
@media (min-width: 768px) {
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 140px !important;
    }
}

@media (max-width: 767px) {
    ul.test-results {
        float: none;
        text-align: center
    }

    .well-small > .avatar {
        max-width: 100px;
        margin-right: 10px;
    }

    #fileupload {
        margin: 5px 0;
        width: 100%;
    }

    .fileupload-buttonbar .btn, #commentStatus + .btn, .btn-toolbar .btn-group, .btn-toolbar .btn {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .btn-toolbar .btn-group {
        margin: 0;
        margin-bottom: 5px;
    }

    .btn-toolbar .pull-left .btn, .btn-toolbar a.pull-right.btn, div#stools-container > .btn-group {
        width: 50%;
        margin: 0;
        padding-bottom: 4px;
    }

    #filter-state-div .btn {
        width: 33.33%;
    }

    .form-search .input-append .btn {
        width: auto;
    }

    #filtersForm .btn-group {
        margin: 0 5px;
        width: auto;
    }

    .well-small.user-wrapper > .avatar {
        float: left;
    }

    .comment-wrapper, div#stools-container select {
        width: 100%;
    }

    div#stools-container input {
        width: 75%;
        min-height: 28px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    div#stools-container button {
        width: 25%;
    }

    /* Show upload button text on handheld devices */
    .files .btn span, .files .toggle, .fileupload-buttonbar .toggle {
        display: inherit;
    }
}

div.logHeader:hover {
    background: #e1e1e8;
    cursor: pointer;
}

div.logMessage {
    background-color: #eeeeee;
    display: none;
}
