.flag {
	width: 16px;
	height: 10px;
	background:url(../img/flags.png) no-repeat
}

.ui.dropdown .menu > .item { padding: 5px 40px 5px 5px !important; }

.ui.dropdown .menu > .item > img.flag { width:16px; height:10px; }

.flag.flag-ar-AA {background-position: 0 0}
.flag.flag-ca-ES {background-position: -16px 0}
.flag.flag-da-DK {background-position: -32px 0}
.flag.flag-de-DE {background-position: -48px 0}
.flag.flag-en-GB {background-position: -64px 0}
.flag.flag-es-CO {background-position: -80px 0}
.flag.flag-es-ES {background-position: -96px 0}
.flag.flag-et-EE {background-position: -112px 0}
.flag.flag-fr-CA {background-position: -128px 0}
.flag.flag-fr-FR {background-position: -144px 0}
.flag.flag-hu-HU {background-position: -160px 0}
.flag.flag-id-ID {background-position: -176px 0}
.flag.flag-it-IT {background-position: -192px 0}
.flag.flag-ja-JP {background-position: -208px 0}
.flag.flag-lv-LV {background-position: -224px 0}
.flag.flag-nb-NO {background-position: 0 -10px}
.flag.flag-nl-BE {background-position: -16px -10px}
.flag.flag-nl-NL {background-position: -32px -10px}
.flag.flag-pl-PL {background-position: -48px -10px}
.flag.flag-pt-BR {background-position: -64px -10px}
.flag.flag-pt-PT {background-position: -80px -10px}
.flag.flag-ro-RO {background-position: -96px -10px}
.flag.flag-ru-RU {background-position: -112px -10px}
.flag.flag-sk-SK {background-position: -128px -10px}
.flag.flag-sl-SI {background-position: -144px -10px}
.flag.flag-sr-CS {background-position: -160px -10px}
.flag.flag-sr-YU {background-position: -176px -10px}
.flag.flag-zh-CN {background-position: -192px -10px}
.flag.flag-zh-TW {background-position: -208px -10px}
