.switcher-elem input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switcher-elem label {
    cursor: pointer;
    text-indent: 3.75rem;
    width: 3.125rem;
    height: 1.5625rem;
    background: var(--bs-gray-600);
    display: block;
    border-radius: 1.5625rem;
    position: relative;
}

.switcher-elem label:after {
    content: '';
    position: absolute;
    top: 0.078125rem;
    left: 0.078125rem;
    width: 1.40625rem;
    height: 1.40625rem;
    background: var(--bs-white);
    border-radius: 1.40625rem;
    transition: 0.075s;
}

.switcher-elem input.switcher:checked + label {
    background: var(--bs-success);
}

.switcher-elem input:checked + label:after {
    left: calc(100% - 0.078125rem);
    transform: translateX(-100%);
}

.switcher-elem label:active:after {
    width: 32.5px;
}
