{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block JavaScriptBottom %}
    {{ parent() }}

<script type="text/javascript">

    function listHooks(alias) {

        jQuery.get(
                '/project/' + alias + '/hooks-list', {  },
                function (response) {

                    var html = '';

                    if (response.error) {
                        jQuery('#ajaxDebug').html(response.error);
                    }
                    else if (!response.data.length) {
                        html = '<p>' + 'No hooks found.' + '</p>';
                    }
                    else {
                        html = displayHooks(response.data);
                    }

                    jQuery('#ajaxOutput').html(html);
                }
        );
    }

    function addHook(alias) {

        var url = $('input[name="url"]').val();
        var events = $('input[name="events"]').val();

        jQuery.get(
                '/project/' + alias + '/hooks-add',
                { url: url, events: events},
                function (response) {

                    var html = '';

                    if (response.error) {
                        jQuery('#ajaxDebug').html(response.error);
                    }
                    else if (!response.data.length) {
                        html = '<p>' + 'No hooks found.' + '</p>';
                    }
                    else {
                        html = displayHooks(response.data);
                    }

                    jQuery('#ajaxOutput').html(html);
                }
        );
    }

    function displayHooks (hooks) {
        var html = '';
        var activateLink;

        html += '<ul>';

        $.each(hooks, function (k, hook) {
            activateLink = hook.active
                    ? '<a href="deactivate">Deactivate</a>'
                    : '<a href="activate">Activate</a>';

            html += '<li>'
                    + hook.name + ' - ' + hook.config.url + '<br />'
                    + (hook.active ? 'active' : 'inactive')
                    +' - '+activateLink + ' - Events: ' + hook.events.join(', ')
                    +'</li>';
        });

        html += '</ul>';

        return html;
    }
</script>
{% endblock %}

{% block content %}

    <h2>{{ project.title }} - Hooks</h2>

    <div class="btn" onclick="listHooks('{{ project.alias }}');">List Hooks</div>

    <div id="ajaxOutput"></div>
    <div id="ajaxDebug" class="alert-error"></div>

    <h3>New Hook</h3>

    <form name="newHook">
        <div>

    URL
    <input type="text" name="url" placeholder="http://domain.tld / web / hook" />

    Events (comma sep., no spaces)
    <input type="text" name="events" placeholder="event,event,n..." />
            <br />

    <div class="btn" onclick="addHook('{{ project.alias }}');">Add Hook</div>
        </div>
    </form>

    <h4>Events</h4>
    <pre style="background-color: #ffc;">
    push - Any git push to a Repository.
    issues - Any time an Issue is opened or closed.
    issue_comment - Any time an Issue is commented on.
    commit_comment - Any time a Commit is commented on.
    pull_request - Any time a Pull Request is opened, closed, or synchronized (updated due to a new push in the branch that the pull request is tracking).
    pull_request_review_comment - Any time a Commit is commented on while inside a Pull Request review (the Files Changed tab).
    gollum - Any time a Wiki page is updated.
    watch - Any time a User watches the Repository.
    download - Any time a Download is added to the Repository.
    fork - Any time a Repository is forked.
    fork_apply - Any time a patch is applied to the Repository from the Fork Queue.
    member - Any time a User is added as a collaborator to a non-Organization Repository.
    public - Any time a Repository changes from private to public.
    team_add - Any time a team is added or modified on a Repository.
    status - Any time a Repository has a status update from the API
        </pre>
{% endblock %}
