<!doctype html>
<html>
<head>
<title>Your Font/Glyphs</title>
<link rel="stylesheet" href="style.css" />
<!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->
<style>
	section, header, footer {display: block;}
	body {
		font-family: sans-serif;
		color: #444;
		line-height: 1.5;
		font-size: 1em;
	}
	* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	.glyph {
		float: left;
		text-align: center;
		background: #eee;
		padding: .75em;
		margin: .75em 1.5em .75em 0;
		width: 7em;
		border-radius: .25em;
		box-shadow: inset 0 0 0 1px #f8f8f8, 0 0 0 1px #CCC;
	}
	.glyph input {
		width: 100%;
		text-align: center;
		font-family: consolas, monospace;
	}
	.glyph input, .mtm {
		margin-top: .75em;
	}
	.w-main {
		width: 80%;
	}
	.centered {
		margin-left: auto;
		margin-right: auto;
	}
	.fs1 {
		font-size: 2em;
	}
	header {
		margin: 2em 0;
		padding-bottom: .5em;
		color: #666;
		box-shadow: 0 2px #eee;
	}
	header h1 {
		font-size: 2em;
		font-weight: normal;
	}
	.clearfix:before, .clearfix:after { content: ""; display: table; }
	.clearfix:after, .clear { clear: both; }
	footer {
		margin-top: 2em;
		padding: .5em 0;
		box-shadow: 0 -2px #eee;
	}
	a, a:visited {
		color: #B35047;
		text-decoration: none;
	}
	a:hover, a:focus {color: #000;}
	.box1 {
		display: inline-block;
		width: 15em;
		padding: .25em .5em;
		background: #eee;
		margin: .5em 1em .5em 0;
	}
</style>
</head>
<body>
	<div class="w-main centered">
	<section class="mtm clearfix" id="glyphs">
	<header>
		<h1>Your font contains the following glyphs</h1>
		<p>The generated SVG font can be imported back to <a href="http://icomoon.io/app">IcoMoon</a> for modification.</p>
	</header>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe000;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe000;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x21;"></div>
		<input type="text" readonly="readonly" value="&amp;#x21;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x22;"></div>
		<input type="text" readonly="readonly" value="&amp;#x22;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x23;"></div>
		<input type="text" readonly="readonly" value="&amp;#x23;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x24;"></div>
		<input type="text" readonly="readonly" value="&amp;#x24;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x25;"></div>
		<input type="text" readonly="readonly" value="&amp;#x25;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x26;"></div>
		<input type="text" readonly="readonly" value="&amp;#x26;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x27;"></div>
		<input type="text" readonly="readonly" value="&amp;#x27;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x28;"></div>
		<input type="text" readonly="readonly" value="&amp;#x28;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x29;"></div>
		<input type="text" readonly="readonly" value="&amp;#x29;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2b;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2c;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2c;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2d;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2d;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2e;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2e;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2a;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2a;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x2f;"></div>
		<input type="text" readonly="readonly" value="&amp;#x2f;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x30;"></div>
		<input type="text" readonly="readonly" value="&amp;#x30;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x31;"></div>
		<input type="text" readonly="readonly" value="&amp;#x31;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x32;"></div>
		<input type="text" readonly="readonly" value="&amp;#x32;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x33;"></div>
		<input type="text" readonly="readonly" value="&amp;#x33;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x34;"></div>
		<input type="text" readonly="readonly" value="&amp;#x34;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x35;"></div>
		<input type="text" readonly="readonly" value="&amp;#x35;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x36;"></div>
		<input type="text" readonly="readonly" value="&amp;#x36;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x37;"></div>
		<input type="text" readonly="readonly" value="&amp;#x37;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x38;"></div>
		<input type="text" readonly="readonly" value="&amp;#x38;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x39;"></div>
		<input type="text" readonly="readonly" value="&amp;#x39;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x3a;"></div>
		<input type="text" readonly="readonly" value="&amp;#x3a;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x3b;"></div>
		<input type="text" readonly="readonly" value="&amp;#x3b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x3c;"></div>
		<input type="text" readonly="readonly" value="&amp;#x3c;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x3d;"></div>
		<input type="text" readonly="readonly" value="&amp;#x3d;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x3e;"></div>
		<input type="text" readonly="readonly" value="&amp;#x3e;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x3f;"></div>
		<input type="text" readonly="readonly" value="&amp;#x3f;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x40;"></div>
		<input type="text" readonly="readonly" value="&amp;#x40;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x41;"></div>
		<input type="text" readonly="readonly" value="&amp;#x41;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x42;"></div>
		<input type="text" readonly="readonly" value="&amp;#x42;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x43;"></div>
		<input type="text" readonly="readonly" value="&amp;#x43;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x44;"></div>
		<input type="text" readonly="readonly" value="&amp;#x44;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x45;"></div>
		<input type="text" readonly="readonly" value="&amp;#x45;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x46;"></div>
		<input type="text" readonly="readonly" value="&amp;#x46;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x48;"></div>
		<input type="text" readonly="readonly" value="&amp;#x48;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x47;"></div>
		<input type="text" readonly="readonly" value="&amp;#x47;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x4a;"></div>
		<input type="text" readonly="readonly" value="&amp;#x4a;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x4b;"></div>
		<input type="text" readonly="readonly" value="&amp;#x4b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x4c;"></div>
		<input type="text" readonly="readonly" value="&amp;#x4c;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x4d;"></div>
		<input type="text" readonly="readonly" value="&amp;#x4d;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x4e;"></div>
		<input type="text" readonly="readonly" value="&amp;#x4e;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x4f;"></div>
		<input type="text" readonly="readonly" value="&amp;#x4f;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x50;"></div>
		<input type="text" readonly="readonly" value="&amp;#x50;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x51;"></div>
		<input type="text" readonly="readonly" value="&amp;#x51;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x52;"></div>
		<input type="text" readonly="readonly" value="&amp;#x52;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x53;"></div>
		<input type="text" readonly="readonly" value="&amp;#x53;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x54;"></div>
		<input type="text" readonly="readonly" value="&amp;#x54;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x55;"></div>
		<input type="text" readonly="readonly" value="&amp;#x55;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x56;"></div>
		<input type="text" readonly="readonly" value="&amp;#x56;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x57;"></div>
		<input type="text" readonly="readonly" value="&amp;#x57;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x58;"></div>
		<input type="text" readonly="readonly" value="&amp;#x58;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x59;"></div>
		<input type="text" readonly="readonly" value="&amp;#x59;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x5a;"></div>
		<input type="text" readonly="readonly" value="&amp;#x5a;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x5b;"></div>
		<input type="text" readonly="readonly" value="&amp;#x5b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x5c;"></div>
		<input type="text" readonly="readonly" value="&amp;#x5c;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x49;"></div>
		<input type="text" readonly="readonly" value="&amp;#x49;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x5d;"></div>
		<input type="text" readonly="readonly" value="&amp;#x5d;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x5e;"></div>
		<input type="text" readonly="readonly" value="&amp;#x5e;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x5f;"></div>
		<input type="text" readonly="readonly" value="&amp;#x5f;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x60;"></div>
		<input type="text" readonly="readonly" value="&amp;#x60;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x61;"></div>
		<input type="text" readonly="readonly" value="&amp;#x61;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x62;"></div>
		<input type="text" readonly="readonly" value="&amp;#x62;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x63;"></div>
		<input type="text" readonly="readonly" value="&amp;#x63;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x64;"></div>
		<input type="text" readonly="readonly" value="&amp;#x64;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x65;"></div>
		<input type="text" readonly="readonly" value="&amp;#x65;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x66;"></div>
		<input type="text" readonly="readonly" value="&amp;#x66;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x67;"></div>
		<input type="text" readonly="readonly" value="&amp;#x67;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x68;"></div>
		<input type="text" readonly="readonly" value="&amp;#x68;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x69;"></div>
		<input type="text" readonly="readonly" value="&amp;#x69;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x6a;"></div>
		<input type="text" readonly="readonly" value="&amp;#x6a;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x6b;"></div>
		<input type="text" readonly="readonly" value="&amp;#x6b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x6c;"></div>
		<input type="text" readonly="readonly" value="&amp;#x6c;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x6d;"></div>
		<input type="text" readonly="readonly" value="&amp;#x6d;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x6e;"></div>
		<input type="text" readonly="readonly" value="&amp;#x6e;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x6f;"></div>
		<input type="text" readonly="readonly" value="&amp;#x6f;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x70;"></div>
		<input type="text" readonly="readonly" value="&amp;#x70;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x71;"></div>
		<input type="text" readonly="readonly" value="&amp;#x71;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x72;"></div>
		<input type="text" readonly="readonly" value="&amp;#x72;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x73;"></div>
		<input type="text" readonly="readonly" value="&amp;#x73;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x74;"></div>
		<input type="text" readonly="readonly" value="&amp;#x74;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x75;"></div>
		<input type="text" readonly="readonly" value="&amp;#x75;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x76;"></div>
		<input type="text" readonly="readonly" value="&amp;#x76;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x77;"></div>
		<input type="text" readonly="readonly" value="&amp;#x77;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x78;"></div>
		<input type="text" readonly="readonly" value="&amp;#x78;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x79;"></div>
		<input type="text" readonly="readonly" value="&amp;#x79;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x7a;"></div>
		<input type="text" readonly="readonly" value="&amp;#x7a;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x7b;"></div>
		<input type="text" readonly="readonly" value="&amp;#x7b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x7c;"></div>
		<input type="text" readonly="readonly" value="&amp;#x7c;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x7d;"></div>
		<input type="text" readonly="readonly" value="&amp;#x7d;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#x7e;"></div>
		<input type="text" readonly="readonly" value="&amp;#x7e;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe001;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe001;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe002;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe002;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe003;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe003;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe004;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe004;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe005;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe005;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe006;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe006;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe007;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe008;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe008;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe009;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe009;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe00a;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe00a;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe00b;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe00b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe00c;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe00c;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe00d;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe00e;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe00e;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe00f;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe00f;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe010;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe010;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe011;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe011;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe012;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe012;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe013;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe013;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe014;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe014;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe015;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe015;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe016;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe016;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe017;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe017;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe018;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe018;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe019;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe019;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe01a;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe01a;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe01b;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe01b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe01c;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe01c;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe01d;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe01d;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe01e;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe01e;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe01f;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe01f;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe020;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe020;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe021;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe021;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe022;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe022;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe023;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe023;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe024;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe024;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe025;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe025;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe026;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe026;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe027;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe027;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe028;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe028;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe029;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe029;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe02a;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe02a;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe02b;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe02b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe02c;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe02c;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe02d;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe02d;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe02e;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe02e;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe02f;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe02f;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe030;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe030;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe031;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe031;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe032;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe032;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe034;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe034;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe035;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe035;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe036;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe036;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe037;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe037;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe038;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe038;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe039;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe039;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe03a;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe03a;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe03b;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe03b;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe03c;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe03c;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe03d;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe03d;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe03e;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe03e;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe033;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe033;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe03f;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe03f;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe040;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe040;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe041;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe041;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe042;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe042;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe043;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe043;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe044;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe044;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe045;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe045;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe046;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe046;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe047;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe047;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe048;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe048;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe049;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe049;" />
	</div>
	<div class="glyph">
		<div class="fs1" aria-hidden="true" data-icon="&#xe04a;"></div>
		<input type="text" readonly="readonly" value="&amp;#xe04a;" />
	</div>
	</section>
	<div class="clear"></div>
	<section class="mtm clearfix" id="glyphs">
	<header>
		<h1>CSS Class Names</h1>
	</header>
	<span class="box1">
		<span aria-hidden="true" class="icon-joomla"></span>
		&nbsp;icon-joomla
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled"></span>
		&nbsp;icon-untitled
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-2"></span>
		&nbsp;icon-untitled-2
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-3"></span>
		&nbsp;icon-untitled-3
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-4"></span>
		&nbsp;icon-untitled-4
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-5"></span>
		&nbsp;icon-untitled-5
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-6"></span>
		&nbsp;icon-untitled-6
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-7"></span>
		&nbsp;icon-untitled-7
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-8"></span>
		&nbsp;icon-untitled-8
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-9"></span>
		&nbsp;icon-untitled-9
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-10"></span>
		&nbsp;icon-untitled-10
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-11"></span>
		&nbsp;icon-untitled-11
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-12"></span>
		&nbsp;icon-untitled-12
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-13"></span>
		&nbsp;icon-untitled-13
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-14"></span>
		&nbsp;icon-untitled-14
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-15"></span>
		&nbsp;icon-untitled-15
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-16"></span>
		&nbsp;icon-untitled-16
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-17"></span>
		&nbsp;icon-untitled-17
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-18"></span>
		&nbsp;icon-untitled-18
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-19"></span>
		&nbsp;icon-untitled-19
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-20"></span>
		&nbsp;icon-untitled-20
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-21"></span>
		&nbsp;icon-untitled-21
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-22"></span>
		&nbsp;icon-untitled-22
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-23"></span>
		&nbsp;icon-untitled-23
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-24"></span>
		&nbsp;icon-untitled-24
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-25"></span>
		&nbsp;icon-untitled-25
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-26"></span>
		&nbsp;icon-untitled-26
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-27"></span>
		&nbsp;icon-untitled-27
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-28"></span>
		&nbsp;icon-untitled-28
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-29"></span>
		&nbsp;icon-untitled-29
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-30"></span>
		&nbsp;icon-untitled-30
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-31"></span>
		&nbsp;icon-untitled-31
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-32"></span>
		&nbsp;icon-untitled-32
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-33"></span>
		&nbsp;icon-untitled-33
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-34"></span>
		&nbsp;icon-untitled-34
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-35"></span>
		&nbsp;icon-untitled-35
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-36"></span>
		&nbsp;icon-untitled-36
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-37"></span>
		&nbsp;icon-untitled-37
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-38"></span>
		&nbsp;icon-untitled-38
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-39"></span>
		&nbsp;icon-untitled-39
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-40"></span>
		&nbsp;icon-untitled-40
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-41"></span>
		&nbsp;icon-untitled-41
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-42"></span>
		&nbsp;icon-untitled-42
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-43"></span>
		&nbsp;icon-untitled-43
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-44"></span>
		&nbsp;icon-untitled-44
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-45"></span>
		&nbsp;icon-untitled-45
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-46"></span>
		&nbsp;icon-untitled-46
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-47"></span>
		&nbsp;icon-untitled-47
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-48"></span>
		&nbsp;icon-untitled-48
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-49"></span>
		&nbsp;icon-untitled-49
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-50"></span>
		&nbsp;icon-untitled-50
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-51"></span>
		&nbsp;icon-untitled-51
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-52"></span>
		&nbsp;icon-untitled-52
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-53"></span>
		&nbsp;icon-untitled-53
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-54"></span>
		&nbsp;icon-untitled-54
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-55"></span>
		&nbsp;icon-untitled-55
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-56"></span>
		&nbsp;icon-untitled-56
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-57"></span>
		&nbsp;icon-untitled-57
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-58"></span>
		&nbsp;icon-untitled-58
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-59"></span>
		&nbsp;icon-untitled-59
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-60"></span>
		&nbsp;icon-untitled-60
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-61"></span>
		&nbsp;icon-untitled-61
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-62"></span>
		&nbsp;icon-untitled-62
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-63"></span>
		&nbsp;icon-untitled-63
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-64"></span>
		&nbsp;icon-untitled-64
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-65"></span>
		&nbsp;icon-untitled-65
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-66"></span>
		&nbsp;icon-untitled-66
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-67"></span>
		&nbsp;icon-untitled-67
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-68"></span>
		&nbsp;icon-untitled-68
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-69"></span>
		&nbsp;icon-untitled-69
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-70"></span>
		&nbsp;icon-untitled-70
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-71"></span>
		&nbsp;icon-untitled-71
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-72"></span>
		&nbsp;icon-untitled-72
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-73"></span>
		&nbsp;icon-untitled-73
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-74"></span>
		&nbsp;icon-untitled-74
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-75"></span>
		&nbsp;icon-untitled-75
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-76"></span>
		&nbsp;icon-untitled-76
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-77"></span>
		&nbsp;icon-untitled-77
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-78"></span>
		&nbsp;icon-untitled-78
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-79"></span>
		&nbsp;icon-untitled-79
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-80"></span>
		&nbsp;icon-untitled-80
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-81"></span>
		&nbsp;icon-untitled-81
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-82"></span>
		&nbsp;icon-untitled-82
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-83"></span>
		&nbsp;icon-untitled-83
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-84"></span>
		&nbsp;icon-untitled-84
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-85"></span>
		&nbsp;icon-untitled-85
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-86"></span>
		&nbsp;icon-untitled-86
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-87"></span>
		&nbsp;icon-untitled-87
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-88"></span>
		&nbsp;icon-untitled-88
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-89"></span>
		&nbsp;icon-untitled-89
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-90"></span>
		&nbsp;icon-untitled-90
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-91"></span>
		&nbsp;icon-untitled-91
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-92"></span>
		&nbsp;icon-untitled-92
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-93"></span>
		&nbsp;icon-untitled-93
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-94"></span>
		&nbsp;icon-untitled-94
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-95"></span>
		&nbsp;icon-untitled-95
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-96"></span>
		&nbsp;icon-untitled-96
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-97"></span>
		&nbsp;icon-untitled-97
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-98"></span>
		&nbsp;icon-untitled-98
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-99"></span>
		&nbsp;icon-untitled-99
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-100"></span>
		&nbsp;icon-untitled-100
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-101"></span>
		&nbsp;icon-untitled-101
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-102"></span>
		&nbsp;icon-untitled-102
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-103"></span>
		&nbsp;icon-untitled-103
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-104"></span>
		&nbsp;icon-untitled-104
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-105"></span>
		&nbsp;icon-untitled-105
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-106"></span>
		&nbsp;icon-untitled-106
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-107"></span>
		&nbsp;icon-untitled-107
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-108"></span>
		&nbsp;icon-untitled-108
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-109"></span>
		&nbsp;icon-untitled-109
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-110"></span>
		&nbsp;icon-untitled-110
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-111"></span>
		&nbsp;icon-untitled-111
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-112"></span>
		&nbsp;icon-untitled-112
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-113"></span>
		&nbsp;icon-untitled-113
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-114"></span>
		&nbsp;icon-untitled-114
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-115"></span>
		&nbsp;icon-untitled-115
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-116"></span>
		&nbsp;icon-untitled-116
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-117"></span>
		&nbsp;icon-untitled-117
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-118"></span>
		&nbsp;icon-untitled-118
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-119"></span>
		&nbsp;icon-untitled-119
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-120"></span>
		&nbsp;icon-untitled-120
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-121"></span>
		&nbsp;icon-untitled-121
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-122"></span>
		&nbsp;icon-untitled-122
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-123"></span>
		&nbsp;icon-untitled-123
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-124"></span>
		&nbsp;icon-untitled-124
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-125"></span>
		&nbsp;icon-untitled-125
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-126"></span>
		&nbsp;icon-untitled-126
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-127"></span>
		&nbsp;icon-untitled-127
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-128"></span>
		&nbsp;icon-untitled-128
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-129"></span>
		&nbsp;icon-untitled-129
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-untitled-130"></span>
		&nbsp;icon-untitled-130
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-github"></span>
		&nbsp;icon-github
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-facebook"></span>
		&nbsp;icon-facebook
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-twitter"></span>
		&nbsp;icon-twitter
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-feed"></span>
		&nbsp;icon-feed
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-vimeo"></span>
		&nbsp;icon-vimeo
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-flickr"></span>
		&nbsp;icon-flickr
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-picassa"></span>
		&nbsp;icon-picassa
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-dribbble"></span>
		&nbsp;icon-dribbble
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-github-2"></span>
		&nbsp;icon-github-2
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-tumblr"></span>
		&nbsp;icon-tumblr
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-blogger"></span>
		&nbsp;icon-blogger
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-linkedin"></span>
		&nbsp;icon-linkedin
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-stumbleupon"></span>
		&nbsp;icon-stumbleupon
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-pinterest"></span>
		&nbsp;icon-pinterest
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-skype"></span>
		&nbsp;icon-skype
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-paypal"></span>
		&nbsp;icon-paypal
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-google-plus"></span>
		&nbsp;icon-google-plus
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-mail"></span>
		&nbsp;icon-mail
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-safari"></span>
		&nbsp;icon-safari
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-opera"></span>
		&nbsp;icon-opera
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-IE"></span>
		&nbsp;icon-IE
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-firefox"></span>
		&nbsp;icon-firefox
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-chrome"></span>
		&nbsp;icon-chrome
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-css3"></span>
		&nbsp;icon-css3
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-html5"></span>
		&nbsp;icon-html5
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-file-css"></span>
		&nbsp;icon-file-css
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-file-xml"></span>
		&nbsp;icon-file-xml
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-file-zip"></span>
		&nbsp;icon-file-zip
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-file-powerpoint"></span>
		&nbsp;icon-file-powerpoint
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-file-excel"></span>
		&nbsp;icon-file-excel
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-file-word"></span>
		&nbsp;icon-file-word
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-file-openoffice"></span>
		&nbsp;icon-file-openoffice
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-file-pdf"></span>
		&nbsp;icon-file-pdf
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-libreoffice"></span>
		&nbsp;icon-libreoffice
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-feed-2"></span>
		&nbsp;icon-feed-2
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-youtube"></span>
		&nbsp;icon-youtube
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-embed"></span>
		&nbsp;icon-embed
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-code"></span>
		&nbsp;icon-code
	</span>
	</section>
	<footer>
		<p>Generated by <a href="http://icomoon.io">IcoMoon.io</a></p>
	</footer>
	</div>
	<script>
	document.getElementById("glyphs").addEventListener("click", function(e) {
		var target = e.target;
		if (target.tagName === "INPUT") {
			target.select();
		}
	});
	</script>
</body>
</html>