<!-- JTRACKER STATUS COMMENT -->
### ![Joomla! Logo](http://www.joomla.org/templates/joomla12/images/menu/logo.png) JTracker Status Comment

----

<a href="{{ href }}">{{ link }}</a>

Level: {{#item.easy}}:baby_bottle:{{/item.easy}}{{^item.easy}}:beers:{{/item.easy}} Tests: {{ testsSuccessCnt }} {{#item.testsSuccess}}@{{ -:white_check_mark: . }} {{/item.testsSuccess}} {{ testsFailureCnt }} {{#item.testsFailure}}@{{ -:x: . }} {{/item.testsFailure}}

----

*Last updated on {{ lastUpdated }} GMT*
