/** Overrides to primary template **/

blockquote p {
  font-size: 0.9em;
  color: #888;
}

code {
  padding: 0 3px;
  white-space: inherit;
}

pre {
  word-break: inherit;
  word-wrap: inherit;

  code {
    white-space: inherit;
  }
}

/** Used on the issue page for styling the status transition boxes */
td.alert {
  --bs-table-bg: var(--bs-alert-bg);
}

.breadcrumb {
  --bs-breadcrumb-padding-y: 0.5rem;
  --bs-breadcrumb-bg: #f5f5f5;
  --bs-breadcrumb-border-radius: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  .breadcrumb {
    --bs-breadcrumb-bg: var(--bs-light-bg-subtle);
  }
}

/** Custom JTracker CSS **/

.helpText {
  float: none;
  margin-left: 0;
  padding-right: 14px
}

label.error {
  color: #E9322D;
}

input.error, input:focus.error,
textarea.error, textarea:focus.error {
  border-color: #E9322D;
  box-shadow: 0 0 6px #F8B9B7;
}

img.avatar {
  border: 1px solid #EEEEEE;
  padding: 2px;
  border-radius: 3px;
  margin-bottom: 5px;
  max-width: 100%;
}

.activity-avatar {
  padding-left: 0;
}

.row-activity {
  border: 1px solid #EEEEEE;
  margin-top: 15px;
  padding: 7px 7px 0 7px;
  border-radius: 3px;

  .well,
  img {
    margin-bottom: 10px;
  }

  .well {
    padding: 10px;
  }

  &:target {
    border: 2px dashed #999;
    padding: 100px 5px 5px;
    transition: all 0.5s ease;
  }
}

img.emoji, .row-activity .well img {
  margin-bottom: 0
}

.input-small {
  &-100 {
    width: 100px;
  }

  &-120 {
    width: 120px;
  }
}

.input-medium {
  &-140 {
    width: 140px;
  }

  &-160 {
    width: 160px;
  }

  &-180 {
    width: 180px;
  }
}

.input-large {
  &-240 {
    width: 240px;
  }
}

.issue-description {
  overflow: auto
}

.issue-information {
  background-color: #f5f5f5;
  padding: 6px 0 6px 6px;

  li {
    display: inline-block;
  }
}

@media (prefers-color-scheme: dark) {
  .issue-information {
    background-color: var(--bs-light-bg-subtle);
  }
}

hr.issue-votes {
  margin: 10px 0
}

form.scores-report {
  margin-bottom: 0
}

.input-issue-title {
  width: 90%;
  font-size: 1.2em !important
}

.input-priority {
  width: 50px
}

td.issueInfo:hover {
  background-color: #eee;
  cursor: help;
}

td.hasContext {
  padding: 8px
}

td.valign-center,
th.valign-center {
  vertical-align: middle
}

.list-issue-title {
  font-size: 1.1em
}

.list-issue-details {
  font-size: 0.85em
}

#stools-container {
  padding-top: 5px;

  .btn-group {
    margin: 5px 5px 0 0;
  }
}

.activity-comment {
  --bs-card-border-color: silver;
  --bs-card-border-radius: 3px;
}

.activity-action {
  min-height: 32px;
}

/* Adjust target within the page because of fixed navbar and affix */
:target:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
}

ul.test-results {
  float: left
}

// Ensure select boxes have visible text in the dropdown. Likely as we are using BS2 with a tool build for BS3+
.bootstrap-select .dropdown-menu li a span.text {
  font-size: 14px;
}

/* Force Bootstrap Select to have the same width as normal selects on desktop; can't use the input-medium class due to load order */
@media (min-width: 768px) {
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 140px !important;
  }
}

@media (max-width: 767px) {
  ul.test-results {
    float: none;
    text-align: center
  }

  .well-small > .avatar {
    max-width: 100px;
    margin-right: 10px;
  }

  #fileupload {
    margin: 5px 0;
    width: 100%;
  }

  .fileupload-buttonbar .btn, #commentStatus + .btn, .btn-toolbar .btn-group, .btn-toolbar .btn {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .btn-toolbar .btn-group {
    margin: 0;
    margin-bottom: 5px;
  }

  .btn-toolbar .pull-left .btn,
  .btn-toolbar a.pull-right.btn,
  #stools-container > .btn-group {
    width: 50%;
    margin: 0;
    padding-bottom: 4px;
  }

  #filter-state-div .btn {
    width: 33.33%;
  }

  .form-search .input-append .btn {
    width: auto;
  }

  #filtersForm .btn-group {
    margin: 0 5px;
    width: auto;
  }

  .user-wrapper > .avatar {
    float: left;
  }

  #stools-container select {
    width: 100%;
  }

  #stools-container {
    input {
      width: 75%;
      min-height: 28px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  /* Show upload button text on handheld devices */
  .files .btn span,
  .files .toggle,
  .fileupload-buttonbar .toggle {
    display: inherit;
  }
}

div.logHeader:hover {
  background: #e1e1e8;
  cursor: pointer;
}

div.logMessage {
  background-color: #eeeeee;
  display: none;
}

// .text-bg-dark in light mode and .text-bg-light in dark mode. In the future we can include Bootstrap SCSS and use
// @extend to do this - but this will do for now
.text-bg-inverse {
  color: #fff;
  background-color: RGBA(33,37,41,var(--bs-bg-opacity,1));
}

@media (prefers-color-scheme: dark) {
  .text-bg-inverse {
    color: #000;
    background-color: RGBA(248,249,250,var(--bs-bg-opacity,1));
  }
}
